* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.App {
  background: #0e1217;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  text-align: center;
  color: white;
}

.MainCalendar {
  display: flex;
  align-items: center;
  width: 100vw - 24px;
  background: white;
  margin: 0px 24px;
  padding: 16px;
}

.LeftSide {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
}

.RightSide {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
}

.Grid {
  height: 100%;
  width: 100%;
}

.Slot {
  display: flex;
  height: 75px;
}

.Slot-FullWidth {
  width: 100%;
}

.EventSlot {
  border-color: lightgrey;
  border-width: 1px;
  border-style: none none solid none;
}

.EventSlotDivider {
  height: 100%;
  align-self: end;
  border-color: lightgrey;
  border-width: 1px;
  border-style: none none none solid;
}

.EventSlot-Disabled:last-child {
  background-color: rgb(249, 249, 249)
}

.SlotText {
  color: rgb(146, 146, 146);
  width: 100%;
  text-align: center;
}

.DayHeader {
  border-color: lightgrey;
  border-width: 1px;
  border-style: none none solid none;
}

.DayHeaderDivider {
  height: 60%;
  align-self: end;
  border-color: lightgrey;
  border-width: 1px;
  border-style: none none none solid;
}

.DayHeader-Today {
  background-image: url("./Assets/TodayBack.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.SlotTimes {
  color: rgb(190, 190, 190);
  height: 75px;
  width: 50px;
  text-align: center;
  line-height: 75px;
  font-size: x-small;
}

.SlotTimesDivider {
  height: 75px;
  width: 10px;
}

.EmptyEvent {
  height: 100%;
  width: 100%;
}

.FilledEvent {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  color: white;
  height: 98%;
  width: 98%;
  background-color: lightblue;
  border-radius: 6px;
}